@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --foreground-rgb: 0, 0, 0;
 --background-start-rgb: 235, 235, 237;
 --background-end-rgb: 235, 235, 237;
}

@media (prefers-color-scheme: dark) {
 :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 31, 37;
  --background-end-rgb: 26, 31, 37;
 }
}

blockquote {
 border-left: 0.25rem solid #949494;
 padding-left: 1rem;
 margin-left: 0;
}

.ce-inline-toolbar__toggler-and-button-wrapper {
 fill: #000;
 color: #000;
}
.ce-conversion-tool {
 fill: #000;
 color: #000;
}

h2 {
 font-size: 1.5rem;
 margin-bottom: 1rem;
}

body {
 color: rgb(var(--foreground-rgb));

 background: linear-gradient(
   to bottom,
   transparent,
   rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
 svg {
  color: rgb(var(--foreground-rgb));
 }
}
